{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 120,
    "jsxSingleQuote": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "auto"
}
